/*variables*/
:root {
  --sidebar-color: #2c3e50;
  --main-color: #333;
}

/*******************************************/
/*standard styles for body, text and images*/
/*******************************************/
body {
  margin: 0;
  font-family: sans-serif;
}

/*Flex Wrapper*/
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/*********/
/*Sidebar*/
/*********/
.sidebar {
  flex-basis: 320px;
  flex-grow: 1;
  z-index: 1;
  padding-top: 150px;
  background-color: var(--sidebar-color);
  color: #fff;
  text-align: center;
}

.sidebar ul {
  padding: 0;
}

.sidebar li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.sidebar button{
  width: 38px;
  height: 30px;
  border-radius: 3px;
  border-width: 0;
  transition: 0.25s all;
}

.sidebar button:hover {
  background-color: rgb(170, 197, 255);
  cursor: pointer;
}

.sidebar img {
  opacity: 80%;
  width: 70%
}

.sidebar p{
  font-size: 11px;
}

.sidebar h3{
  font-size: 24px;
  letter-spacing: 3px;
}

/*********************/
/*Content of the site*/
/*********************/
.container {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 55%;
}

.container h1 {
  margin: 0;
  padding-top: 50px;
  padding-left: 20px;
  font-size: 50px;
  color: var(--sidebar-color);
}

.container h2 {
  width:fit-content;
}

.container h2 a {
  color: var(--sidebar-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

.container p {
  margin-left: 20px;
  margin-right: 100px;
}

.container .line {
  margin-left: 60px;
  width: 300px;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-color: #2c3e50;
}

/*Grid project layout*/
.project-grid {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
}

.project-grid-item {
  position: relative;
  height: 160px;
  aspect-ratio: 2;
  border: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: rgba(51, 51, 51, 0.288);
  margin: 20px;
}

.project-grid-item .line {
  margin-left: 20px;
  width: 150px;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-color: #3c6d9e;
}

.project-grid-item p {
  font-size: 15px;
  margin-right: 10px;
  font-size: 15px;
}

.project-grid-item button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 100px;
  height: 30px;
}


/******************/
/*Custom Codeblock*/
/******************/
.codeBlock {
  margin-left: 20px;
  border-radius: 10px;
  background-color: #161b22;
  color: #fff;
  width: fit-content;
}

.codeBlock pre{
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/********/
/*Footer*/
/********/
footer {
  width: 100%;
  height: 50px;
}